html {
    box-sizing: border-box;
    height: 100%
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(#fce283, #b5ffda); 
    display: flex;
    font-family: "Dosis" , sans-serif;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255, 0.6 );
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 16px;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 16px;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(35,35,35,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(35, 35, 35, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:last-child:active {
    background-color: white;
}
  
.calc-button:hover {
    background-color: inherit;
}

.calc-button:active {
    background-color: #ff3f78;
}
  
.calc-button-double {
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(35,35,35,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    font-family: inherit;
    font-size: 24px;
    flex-basis: 47%;
}
  
.calc-button-triple {
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(35,35,35,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    font-family: inherit;
    font-size: 24px;
    flex-basis: 73%;
}

.calc-button-double:hover {
    background-color: inherit;
}

.calc-button-double:active {
    background-color: #ff3f78;
}

.calc-button-triple:hover {
    background-color: inherit;
}

.calc-button-triple:active {
    background-color: #ff3f78;
}