html {
    box-sizing: border-box;
    height: 100%
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(#fce283, #b5ffda); 
    display: flex;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255, 0.6 );
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 16px;
    flex-basis: 400px;
    height: 640px;
    padding: 20px 35px
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(0,25,0,0.5);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 16px;
    font-size: 30px;
    overflow: auto;
    padding: 25px;

}